.idea
.vscode
.gitattributes
*.pyc
*.flv
*.mp4
*.part
backup
venv./
config.yaml
!public/config.yaml
/configlog.ini
ds_update.log*
*.cookie
*.zip
*.egg-info
dist/
build/

*.back
bili.cookie.json
archive.txt
/node_modules
watch_process.pid
package-lock.json
biliup/**/public
cookie*.json
*.log
./*.ts
/biliup/stream-gears/
